<%- include("header") -%> 

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>

  </div>


  <div class="box">

    <% for (let i = 0; i < newListItems.length; i++) { %>

    <div class="item">
      <input type="checkbox" name="" id="">
      <p> <%= newListItems[i] %></p>
    </div>
    <% } %>

    <table class="item" width=500>
      <form action="/" method="POST" onreset="">
        <tr>
          <td><input type="text" name="newItem" placeholder="New Item" autocomplete="off"></td>
          <td><button type="submit" name="list" value=<%= listTitle %>>+</button></td>
        </tr>
      </form>
    </table>



  </div>

<%- include("footer") -%>

